.container {
    width: 100%;
}

.title {
    font-size: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.image {
    object-fit: contain;
    /* alternate => Change the animation direction each time it plays.
    In this case, makes the animation moves up and down infinitly */
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.03);
    }
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input, .textArea {
    padding: 20px;
    background-color: transparent;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

.loadingBox  {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    letter-spacing: 3px;
}

@media screen and (max-width:480px) {
    .title {
        font-size: 42px;
        margin-bottom: 32px;
    }
    .content {
        gap: 0;
    }
    .imgContainer {
        display: none;
    }
    .form {
        width: 100%;
    }
}