.container {
    display: flex;
    gap: 100px;
}

.cats {
    margin-top: 12px;
}
.cats span {
    text-decoration: underline;
    margin-right: 12px;
    cursor: pointer;
}
.cats span:hover {
    color: #53c28b;
}

.posts {
    flex: 1;
}

.post {
    display: flex;
    margin: 50px 0px;
}

.imgContainer {
    width: 200px;
    height: 100px;
    position: relative;
}

.textContainer {
    margin: 0 15px;
    flex: 1;
    height: max-content;
}

.img {
    object-fit: cover;
}

.delete {
    cursor: pointer;
    color: red;
}

.edit {
    margin-top: 4px;
    margin-right: 5px;
}

.new {
    flex: 1;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .2s;
}

.input, .textArea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}