.container {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.mainContainer {
    width: 100%;
}
  
.image{
    object-fit: cover;
}
  
.title{
    margin-bottom: 10px;
}
  
.desc{
    font-size: 18px;
    color: #999;
}

.content {
    min-height: 20vh;
}

@media screen and (max-width:768px) {
    .image {
        width: 40vw;
        height: 20vh
    }
}

@media screen and (max-width:480px) {
    .title {
        font-size: 20px;
    }
    .desc {
        font-size: 14px;
    }
    .container {
        gap: 20px;
    }
    .image {
        width: 30vw;
    }
}